@import url(./variables.css);

.cabecera{
    display: flex;
    justify-content: space-between;
    background-color: #052B52;
    color: #E2E2DD;
    padding: 2vw;
    text-align: right;
    font-size: 90vw;
}

.img__profile{
    margin-inline-start: 2vw;
    width: 16vw;
    height: auto;
    object-fit: cover;
    border-radius: 50vw;
}

.title {
    font-size: 5vw;
    font-family: "upheavtt";
}

body{
    font-family: "genflox";
    background-color: #E2E2DD;
    color: #2b2d2f;
    margin: 0vw;
    padding: 0vw;
}

.titulo1, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6, .titulo7{
    display: inline-flex;
    background: linear-gradient(135deg, rgba(43, 45, 47, 0.92), rgba(3, 58, 112, 0.92));
    border-radius: 200vw;
    padding: 1.5vw 3.5vw;
    color: rgb(255, 255, 255);
    font-weight: bold;
    white-space: nowrap;
    align-items: center;
    margin-left: 5.5vw;
}

ol{
    list-style: none;
    padding-left: 0vw;
}

.titulo_imp{
    font-size: 1.2em;
}

li{
    font-size: 1.1em;
}

.titulo1::before{
    content: "";
    display: flex;
    width: 3.5vw;
    height: 1.5vw;
    background-image: url("../img/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8vw;
    
}

.titulo2::before{
    content: "";
    display: inline-block;
    width: 3.5vw;
    height: 1.5vw;
    background-image: url("../img/logo2.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8vw;
}

.titulo3::before{
    content: "";
    display: inline-block;
    width: 3.5vw;
    height: 1.5vw;
    background-image: url("../img/logo3.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8vw;
}

.titulo4::before{
    content: "";
    display: inline-block;
    width: 3.5vw;
    height: 1.5vw;
    background-image: url("../img/logo4.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8vw;
}

.titulo5::before{
    content: "";
    display: inline-block;
    width: 3.5vw;
    height: 1.5vw;
    background-image: url("../img/logo5.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8vw;
}

.titulo6::before{
    content: "";
    display: inline-block;
    width: 3.5vw;
    height: 1.5vw;
    background-image: url("../img/logo6.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 5vw;
}

.titulo7::before{
    content: "";
    display: inline-block;
    width: 3.5vw;
    height: 1.5vw;
    background-image: url("../img/logo7.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5vw;
}


footer{
    background-color: #052B52;
    color: #E2E2DD;
    padding: 5px;
    font-size: 30px;
    text-align: right;
}

.icono{
    display: inline-block; /* Alinea horizontalmente */
    margin-right: 5vw;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

img{
    width: 10vw;
    height: auto;
}

.link_git{
    color: black;
}

a:hover{
    color: #41418f;
    font-size: 20px;
}

#boton:hover{
font-size: 25px;
color: rgb(190, 201, 211);

}

@keyframes slideInUp {
    from {
      transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  section {
    animation: slideInUp 1s ease-out forwards;
    animation-delay: calc(0.5s * var(--delay)); /* Ajusta el retraso según la posición */
    opacity: 0; /* Inicialmente oculto */
  }
  
  section:nth-child(1) {
    --delay: 0;
  }
  section:nth-child(2) {
    --delay: 1;
  }
  section:nth-child(3) {
    --delay: 2;
  }
  section:nth-child(4) {
    --delay: 3;
}
  section:nth-child(5) {
    --delay: 2;
}
  section:nth-child(6) {
    --delay: 2;
}
  section:nth-child(7) {
    --delay: 2;
}

@keyframes typing {
    from {
    width: 0;
    }
    to {
    width: 100vw;
    }
}

@keyframes blink {
    50% {
    border-color: transparent;
    }
}

.title {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(30, end), blink 0.75s step-end infinite;
}

.complet{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0vw;
    justify-content: flex-start;
    align-content: center;
    padding: 15px;
}
