@import url(./variables.css);

.cabecera{
    display: flex;
    justify-content: space-between;
    background-color: #052B52;
    color: #E2E2DD;
    padding: 2%;
    text-align: right;
    font-size: 90%;
}

.img__profile{
    margin-inline-start: 2vw;
    width: 16vw;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}


.title {
    font-size: 300%;
    font-family: "upheavtt";
}

body{
    font-family: "genflox";
    background-color: #E2E2DD;
    color: #2b2d2f;
    margin: 0%;
    padding: 0%;
}

.titulo1, .titulo2, .titulo3, .titulo4, .titulo5, .titulo6, .titulo7{
    display: inline-flex; /* Alinea horizontalmente ícono y texto */
    background: linear-gradient(135deg, rgba(43, 45, 47, 0.92), rgba(5, 43, 82, 0.92));
    ; /* Degradado morado */
    border-radius: 200px; /* Bordes redondeados */
    padding: 15px 40px;/* Espacio interno */
    color: rgb(255, 255, 255);
    font-weight: bold;
    white-space: nowrap; /* Hace que no haya salto de linea */
    align-items: center; /* Centra el texto verticalmente */
    margin-left: 10%;
}

ol{
    list-style: none;
    padding-left: 0;
}

.titulo_imp{
    font-size: 1.2em;
}

li{
    font-size: 1.1em;
}

.titulo1::before{
    content: ""; /* Crea el ícono */
    display: flex;
    width: 40px;
    height: 25px;
    background-image: url("../img/logo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10%; /* Espacio fijo entre ícono y texto */
    
}

.titulo2::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 25px;
    background-image: url("../img/logo2.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.titulo3::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 25px;
    background-image: url("../img/logo3.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.titulo4::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 30px;
    background-image: url("../img/logo4.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.titulo5::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 25px;
    background-image: url("../img/logo5.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.titulo6::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 25px;
    background-image: url("../img/logo6.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10%;
}

.titulo7::before{
    content: "";
    display: inline-block;
    width: 50px;
    height: 25px;
    background-image: url("../img/logo7.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10%;
}


footer{
    background-color: #052B52;
    color: #E2E2DD;
    padding: 5px;
    font-size: 30px;
    text-align: right;
}

.icono{
    display: inline-block; /* Alinea horizontalmente */
    margin-right: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}

img{
    width: 10%;
    height: auto;
}

.link_git{
    color: black;
}

a:hover{
    color: #41418f;
    font-size: 20px;
}

#boton:hover{
font-size: 25px;
color: rgb(190, 201, 211);
}

@keyframes slideInUp {
    from {
      transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  section {
    animation: slideInUp 1s ease-out forwards;
    animation-delay: calc(0.3s * var(--delay)); /* Ajusta el retraso según la posición */
    opacity: 0; /* Inicialmente oculto */
  }
  
  section:nth-child(1) {
    --delay: 0;
  }
  section:nth-child(2) {
    --delay: 1;
  }
  section:nth-child(3) {
    --delay: 2;
  }
  section:nth-child(4) {
    --delay: 3;
}
  section:nth-child(5) {
    --delay: 2;
}
  section:nth-child(6) {
    --delay: 2;
}
  section:nth-child(7) {
    --delay: 2;
}
